<h1> </h1>
<img src="http://mfia.prep.mapc.org/{{model.image}}" />
{{!-- {{map-component}} --}}
<dl>
  <dt>Title</dt>
  <dd>{{model.title}}</dd>

  <dt>Description</dt>
  <dd>{{model.description}}</dd>
</dl>
<p>
  Updated at: 
  <br>
  Created at: 
</p>

{{!-- {{outlet}} --}}
